		/*
 Color scheme for this website:
 #45A29E
 #FFCB9A
 #FFB29A

*/

body {
    background-color:#45A29E; /* Jewel Weed */
    color:#FFCB9A; /* Peach */
    font-family: "Times new roman", Georgia, serif;
    margin-left: 10%;
    margin-right: 10%;
    width: 125%;
    min-width: 720px;
    margin: 0 auto;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}	
div{  
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #5f5f5f;
}
h1, h2, h3 {
    color:#FFB29A; /* Pink Peach */
    font-family: "Arial", Arial Rounded MT Bold, san-serif;
    text-shadow: 3px 5px #636060;
}
div {
  background-color: rgb(241, 28, 74);
  color:#FFCB9A;
  width: 500px;
  border: 15px solid pink;
  padding: 50px;
  margin: 20px;
}
div#skipnav {
  width: 9em;
  background-color: rgb(241, 28, 74)  ;
  top: 5px;
  left: 5px;
  position: relative;
  right: 12.5%;
}
div.info{
  width: 40%;
  font-size: 110%;
  float: left;
}
main#overview{
  font-size:110%;
  color:rgb(145, 255, 0);
  font-family:'Courier New';
  background-color: black;
  clear: left;
}
h2.temp {
  font-style:italic;
}
a {
  color: white;
  background-color: rgb(241, 28, 74);;
}
a:hover, a:focus {
  color: white;
  background-color:rgb(83, 197, 241);
}
nav {
  clear: left;
}

  /* navigation menu styles */
  nav ul {
    list-style-type: none;
  }
  nav ul li {
    float: left;
    margin-right: 0.20em;
  }
  nav ul li a {
    padding: 0.25em 0.75em;
    text-decoration: none; /* no underline */
    background-color: #EBF5FF; /* pale bluish white */
    color: #ae1268; /* pink */
    border: 2px solid black;
    border-top-left-radius: 1em 1em; /* rounded corner! */
    border-top-right-radius: 1em 1em; /* another rounded corner! */
  }
  nav ul li a:hover, nav ul li a:focus {
    color: black;
    background-color: rgb(137, 250, 250);
    font-weight: bold;
  }
  .button{
    background-color: rgb(95, 215, 255);
    padding: 20px 20px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 0 5px cyan;        
}
    button:hover{
      box-shadow: 0 0 5px cyan,
      0 0 25px cyan, 0 0 50px cyan,
      0 0 100px cyan, 0 0 150px cyan
  }
